# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
target*
logs/**
opcenter-web/logs
*.log
*.iml
node_modules/*
# opcenter-web/src/main/resources/static



# front
.DS_Store
node_modules
